body {
    margin: 0;
}
div.header {
    height: 60px;
    background-color: rgb(38, 38, 38);
}
div.banner {
    height: 200px;;
    background-color: rgb(87, 177, 39);    
    position: relative;
}
/* div.main {
    height: 400px;    
} */
div.footer {
    height: 100px;
    background-color: rgb(83, 83, 83);
}

div.header span {
    color: white;
    position: absolute;
    left: 150px;
    top: 12px;
    font-size: 20px;
}
div.header div {
    position: absolute;
    top: 5px;
    right: 100px;
    width: 200px;                
}
a {
    font-size: 10px;
}
a:visited {
    color: white;
}

div.banner div.items {
    background-color: rgb(87, 177, 39);
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    right: 100px;
    bottom: 5px;
    width: 120px;
    height: 50px;
}

div.banner button {
    background-color: rgb(164, 216, 136);
    display: inline-block;
    width: 25px;
    height: 30px;
    border-color: black;
}

div.banner button:nth-child(2) {
    background-color: rgb(217, 239, 204);
    height: 40px;
}

div.main div.line {
    position: relative;
    background-color: gray;
    top: 50px;
    height: 1px;

}

div.main div.nav {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 200px;
    height: 50px;
    left: 150px;
}
div.main button {
    background-color: rgb(234, 234, 234);
    width: 66.6px;
    height: 40px;
    border-radius: 15px 15px 0px 0px;
    border-color: gray;
}

div.main button:first-child {
    border-color: gray gray white gray;
    background-color: white;
}


div.footer {
    padding: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
}

.sectionBox {
    margin: 0 auto;
    width: 960px;
    height: 477px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.row {
    margin-right: 0;
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: space-around;    
}

.row div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32%;
    border: 1px solid gray;
}

.secondRow div{
    width: 24%;
}




